body {
    background-color: #010101;
    justify-content: center;
}

main {
    width: 400px;
    height: 520px;
    margin: 150px auto;
    position: relative;

    >form {
        width: 400px;
        height: 520px;
        background-color: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(10px);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-content: start;
        flex-wrap: wrap;
        padding: 60px 50px;
        gap: 10px;
        border: 1px solid rgba(255, 255, 255, 0.24);

        >* {
            width: 100%;
            color: white;
            border-radius: 3px;
        }

        >h1 {
            font-size: 32px;
            text-transform: uppercase;
            text-align: center;
            margin: 0 0 20px;
        }

        >label {
            font-size: 20px;
            text-transform: capitalize;

            &:last-of-type {
                margin-top: 20px;
            }
        }

        >input {
            padding: 17px 10px;
            background-color: #37373e;
            border: none;
            text-transform: capitalize;

            &:last-of-type {
                margin-bottom: 30px;
            }

            &::placeholder {
                color: rgb(221, 221, 221);
            }

        }

        >button {
            color: black;
            padding: 10px;
            border: none;
            text-transform: capitalize;
            font-size: 20px;
            font-weight: bold;
            background-color: white;
            cursor: pointer;
            transition: 0.4s;

            &:active {
                scale: 0.95;
            }
        }
    }

    >div {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        z-index: -1;

        &:first-of-type {
            top: -70px;
            left: -100px;
            background-color: #1c62c3;
        }

        &:last-of-type {
            top: 370px;
            left: 300px;
            background-color: #e88e1b;
        }
    }


}